<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858769718260-o1p9fl2abpr2o4tfu2lp1q79liqdvcj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858769718260-o1p9fl2abpr2o4tfu2lp1q79liqdvcj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAlf15evl30G9U0ddLMGWuRStMXLT5KBYU</string>
	<key>GCM_SENDER_ID</key>
	<string>858769718260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamikaze.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bcb8d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bcb8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858769718260:ios:888cc9a78ccaa53b1d17a1</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bcb8d.firebaseio.com</string>
</dict>
</plist>